<html>

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable"
          content="yes">
    <link rel="stylesheet"
          href="/style.css" />
    <title>Garasjen</title>
</head>

<body>

    <div class="container">

        <div class="garage-wrapper">

            <?xml version="1.0" encoding="UTF-8"?>
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="314px"
                 height="207px"
                 version="1.1"
                 viewBox="0 0 314 207">
                <g id="garage">
                    <rect fill="#999999"
                          id="betong"
                          width="235"
                          height="107"
                          x="0"
                          y="0"
                          style="
                    x: 2;
                    y: 53;
                    width: 310px;
                    height: 117px;
                "></rect>
                    <g id="fence"
                       fill="#FFF">
                        <g id="Group"
                           transform="translate(2)">
                            <path id="Rectangle-Copy-3"
                                  d="M0 0h13v53H0z" />
                            <path id="Rectangle-Copy-4"
                                  d="M99 0h13v53H99z" />
                            <path id="Rectangle-Copy-5"
                                  d="M198 0h13v53h-13z" />
                            <path id="Rectangle-Copy-6"
                                  d="M297 0h13v53h-13z" />
                        </g>
                        <g id="Group"
                           transform="translate(0 2)">
                            <path id="Rectangle-Copy-6"
                                  d="M297 0h17v3h-17z" />
                            <path id="Rectangle-Copy-7"
                                  d="M198 0h17v3h-17z" />
                            <path id="Rectangle-Copy-8"
                                  d="M99 0h17v3H99z" />
                            <path id="Rectangle-Copy-9"
                                  d="M0 0h17v3H0z" />
                        </g>
                        <path id="Rectangle-Copy-17"
                              d="M17 11h5v40h-5z" />
                        <path id="Rectangle-Copy-24"
                              d="M116 11h5v40h-5z" />
                        <path id="Rectangle-Copy-41"
                              d="M215 11h5v40h-5z" />
                        <path id="Rectangle-Copy-23"
                              d="M59 11h5v40h-5z" />
                        <path id="Rectangle-Copy-26"
                              d="M158 11h5v40h-5z" />
                        <path id="Rectangle-Copy-42"
                              d="M257 11h5v40h-5z" />
                        <path id="Rectangle-Copy-20"
                              d="M38 11h5v40h-5z" />
                        <path id="Rectangle-Copy-31"
                              d="M137 11h5v40h-5z" />
                        <path id="Rectangle-Copy-43"
                              d="M236 11h5v40h-5z" />
                        <path id="Rectangle-Copy-18"
                              d="M24 11h5v40h-5z" />
                        <path id="Rectangle-Copy-32"
                              d="M123 11h5v40h-5z" />
                        <path id="Rectangle-Copy-44"
                              d="M222 11h5v40h-5z" />
                        <path id="Rectangle-Copy-25"
                              d="M66 11h5v40h-5z" />
                        <path id="Rectangle-Copy-33"
                              d="M165 11h5v40h-5z" />
                        <path id="Rectangle-Copy-45"
                              d="M264 11h5v40h-5z" />
                        <path id="Rectangle-Copy-21"
                              d="M45 11h5v40h-5z" />
                        <path id="Rectangle-Copy-34"
                              d="M144 11h5v40h-5z" />
                        <path id="Rectangle-Copy-46"
                              d="M243 11h5v40h-5z" />
                        <path id="Rectangle-Copy-19"
                              d="M31 11h5v40h-5z" />
                        <path id="Rectangle-Copy-35"
                              d="M130 11h5v40h-5z" />
                        <path id="Rectangle-Copy-47"
                              d="M229 11h5v40h-5z" />
                        <path id="Rectangle-Copy-27"
                              d="M73 11h5v40h-5z" />
                        <path id="Rectangle-Copy-36"
                              d="M172 11h5v40h-5z" />
                        <path id="Rectangle-Copy-48"
                              d="M271 11h5v40h-5z" />
                        <path id="Rectangle-Copy-28"
                              d="M80 11h5v40h-5z" />
                        <path id="Rectangle-Copy-37"
                              d="M179 11h5v40h-5z" />
                        <path id="Rectangle-Copy-49"
                              d="M278 11h5v40h-5z" />
                        <path id="Rectangle-Copy-29"
                              d="M87 11h5v40h-5z" />
                        <path id="Rectangle-Copy-38"
                              d="M186 11h5v40h-5z" />
                        <path id="Rectangle-Copy-50"
                              d="M285 11h5v40h-5z" />
                        <path id="Rectangle-Copy-30"
                              d="M94 11h5v40h-5z" />
                        <path id="Rectangle-Copy-39"
                              d="M193 11h5v40h-5z" />
                        <path id="Rectangle-Copy-51"
                              d="M292 11h5v40h-5z" />
                        <path id="Rectangle-Copy-22"
                              d="M52 11h5v40h-5z" />
                        <path id="Rectangle-Copy-40"
                              d="M151 11h5v40h-5z" />
                        <path id="Rectangle-Copy-52"
                              d="M250 11h5v40h-5z" />
                    </g>
                    <g id="opening"
                       fill="#000000"
                       transform="translate(15.000000, 62.000000)">
                        <rect id="left_opening"
                              width="135"
                              height="107"
                              x="0"
                              y="0" />
                        <rect id="right_opening"
                              width="135"
                              height="107"
                              x="150"
                              y="0" />
                    </g>
                    <!-- <g id="doors" transform="translate(15.000000, 62.000000)">
                    <g class="door-toggle door-toggle__left" id="toggle_left">
                        <text transform="translate(20)" id="status_left" fill="#AA0000" font-family="OpenSans-Semibold, Open Sans" font-size="14" font-weight="500">
                            <tspan text-anchor="middle" class="text" x="50" y="145">ÅPEN</tspan>
                        </text>
                        <rect class="door" id="left_door" width="135" height="107" x="0" y="0" fill="#FFFFFF"/>
                    </g>
                    <g  class="door-toggle door-toggle__right" id="toogle_right" transform="translate(150.000000, 0.000000)">
                        <text  transform="translate(20)" id="status_right" fill="#D09103" font-family="OpenSans-Semibold, Open Sans" font-size="14" font-weight="500">
                            <tspan text-anchor="middle"  class="text" x="46" y="144">ÅPNER</tspan>
                        </text>
                        <rect  class="door" id="right_door" width="135" height="107" x="1.42108547e-14" y="0" fill="#FFFFFF"/>
                    </g>
                </g> -->

                </g>
            </svg>

            <div class="garage-door-toggles">
                <div class="garage-door-toggle garage-door-toggle--left">
                    <div class="door"></div>
                    <div class="status">Lukket</div>
                </div>
                <div class="garage-door-toggle garage-door-toggle--right">
                    <div class="door"></div>
                    <div class="status">Lukket</div>
                </div>
            </div>

        </div>

        <div class="results"></div>
        <div class="socket-info"></div>

    </div>


</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
<script src="main.js"></script>

</html>