<html>

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable"
          content="yes">
    <link rel="stylesheet"
          href="/style.css" />
    <title>Garasjen</title>
</head>

<body>

    <div class="buttons">
        <input type="checkbox"
               id="door-left">
        <label for="door-left"
               class="checkbox-switch">
            <i class="y"></i>
        </label>

        <input type="checkbox"
               id="door-right"
               checked>
        <label for="door-right"
               class="checkbox-switch">
            <i class="y"></i>
        </label>

    </div>

    <div class="actions">
        <button class="picture-trigger">Ta bilde</button>
    </div>
    <div class="result"></div>

    <div id="background"></div>


</body>
<script src="main.js"></script>
</html>