<html class="page page--login">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/style.css" />
    <title>Garasjen</title>
</head>

<body>
    <div class="container">
    <h1>Logg inn</h1>
    <form action="/" id="login-form">
        <input placeholder="Passord..." type="password" id="pass" />
        <button type="submit">Logg inn</button>
    </form>
    <div class="form-response"></div>
</div>

</body>
<script src="main.js"></script>
</html>