body {
  background: #111;
  color: white;
  font: 16px/23px sans-serif; }

.container {
  margin: auto;
  max-width: 300px;
  padding: 10px;
  text-align: center; }

input, button {
  width: 100%;
  padding: 10px;
  font: 16px/23px sans-serif;
  color: black; }

/* 
.door-toggle {
    .door {
        transition: height 4s ease;
        height: 107px;
    }

    &.opening {
        text {
            fill: orange;
        }
    }

    &.open, &.opening {
        .door {
            height: 8px;
        }
    }

    &.closing {
        color: orange;
    }

    &.open {
        color: red;
    }

    &.closed {
        color: green;
    }
}
 */
.garage-wrapper {
  position: relative; }

.garage-door-toggles {
  position: absolute;
  left: 15px;
  top: 62px;
  display: flex;
  width: 285px; }
  .garage-door-toggles .garage-door-toggle {
    width: 135px;
    height: 162px;
    position: relative; }
    .garage-door-toggles .garage-door-toggle--left {
      margin-right: 15px; }
    .garage-door-toggles .garage-door-toggle .door {
      height: 107px;
      background: white;
      transition: all 10s ease; }
    .garage-door-toggles .garage-door-toggle .status {
      margin-top: 10px;
      padding: 10px;
      border-bottom: 2px solid;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0; }
    .garage-door-toggles .garage-door-toggle.opening {
      color: orange; }
      .garage-door-toggles .garage-door-toggle.opening .door {
        height: 8px; }

button {
  background: #155f4e;
  border: none;
  color: white; }

.actions {
  display: flex;
  justify-content: center; }
  .actions button {
    margin: auto;
    color: #75770a;
    border: 3px solid #75770a;
    padding: 10px 20px;
    font-size: 20px;
    background: transparent;
    cursor: pointer; }
    .actions button:hover {
      color: hotpink;
      border-color: hotpink; }

#background {
  width: 320px;
  height: 240px;
  background-size: 100%;
  margin: 2em auto; }

.buttons {
  margin: 50px auto;
  display: flex;
  justify-content: center; }
  .buttons input {
    display: none; }

.result {
  color: red; }

.checkbox-switch {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-top: none;
  border-radius: 0;
  background: #F0E0D3;
  cursor: pointer; }
  input:checked + .checkbox-switch:before {
    background-position: 0 200px; }
  input:checked + .checkbox-switch .y {
    top: 65px; }
  .checkbox-switch:before {
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    width: 92px;
    height: 92px;
    background: #EBDBCE;
    background: linear-gradient(to bottom, #bc975e 0%, #977b47 50%, #b3b3b3 51%);
    background-position: 0 100px;
    background-size: 40px 220px;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.05), inset 0 4px 7px -2px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.7), 0 0 5px rgba(255, 255, 255, 0.7);
    content: "";
    transition: background-position 10s ease-in-out; }
  .checkbox-switch .y {
    position: absolute;
    top: 4px;
    left: 35px;
    width: 30px;
    height: 10px;
    border: 1px solid #BBAAA0;
    border-radius: 5px;
    background: #EFE9DF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4), 0 1px 10px 0 rgba(0, 0, 0, 0.4);
    transition: top 10s ease-in-out; }

