body {
  background: #111;
  color: white;
  font: 16px/23px sans-serif; }

.container {
  margin: auto;
  padding: 20px;
  text-align: center; }

input, button {
  width: 100%;
  padding: 10px;
  font: 16px/23px sans-serif;
  color: black; }

/* 
.door-toggle {
    .door {
        transition: height 4s ease;
        height: 107px;
    }

    &.opening {
        text {
            fill: orange;
        }
    }

    &.open, &.opening {
        .door {
            height: 8px;
        }
    }

    &.closing {
        color: orange;
    }

    &.open {
        color: red;
    }

    &.closed {
        color: green;
    }
}
 */
.garage-wrapper {
  position: relative;
  height: 300px;
  width: 312px; }

.garage-door-toggles {
  position: absolute;
  left: 15px;
  top: 62px;
  display: flex;
  width: 285px; }
  .garage-door-toggles .garage-door-toggle {
    width: 135px;
    height: 162px;
    position: relative; }
    .garage-door-toggles .garage-door-toggle--left {
      margin-right: 15px; }
    .garage-door-toggles .garage-door-toggle .door {
      height: 107px;
      background: white; }
    .garage-door-toggles .garage-door-toggle .status {
      margin-top: 10px;
      padding: 10px;
      border-bottom: 2px solid;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    .garage-door-toggles .garage-door-toggle.opening, .garage-door-toggles .garage-door-toggle.closing {
      color: orange; }
      .garage-door-toggles .garage-door-toggle.opening .door, .garage-door-toggles .garage-door-toggle.closing .door {
        transition: height 21s linear; }
    .garage-door-toggles .garage-door-toggle.opening .door {
      height: 8px; }
    .garage-door-toggles .garage-door-toggle.open {
      color: red; }
      .garage-door-toggles .garage-door-toggle.open .door {
        height: 8px;
        background: red; }
    .garage-door-toggles .garage-door-toggle.closed {
      color: greenyellow; }
      .garage-door-toggles .garage-door-toggle.closed .door {
        box-shadow: inset 0 0 10px greenyellow; }

.image img {
  width: 100%;
  height: auto; }

