body {
    background: #111;
    color: white;
    font: 16px/23px sans-serif;
}

.container {
    margin: auto;
    padding: 20px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    font: 16px/23px sans-serif;
    color: black;
}
/* 
.door-toggle {
    .door {
        transition: height 4s ease;
        height: 107px;
    }

    &.opening {
        text {
            fill: orange;
        }
    }

    &.open, &.opening {
        .door {
            height: 8px;
        }
    }

    &.closing {
        color: orange;
    }

    &.open {
        color: red;
    }

    &.closed {
        color: green;
    }
}
 */

.garage-wrapper{
    position: relative;
    height: 300px;
    width: 312px;
}
.garage-door-toggles{
    position: absolute;
    left: 15px;
    top: 62px;
    display: flex;
    width: 285px;
    .garage-door-toggle{
        width: 135px;
        height: 162px;
        position: relative;
        &--left{
            margin-right: 15px;
        }
        .door{
            height: 107px;
            background: white;
            //transition: all 10s ease;
        }
        .status{
            
            margin-top: 10px;
            padding: 10px;
            border-bottom: 2px solid;
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &.opening, &.closing{
            color: orange;
            .door{
                transition: height 21s linear;
            }
        }

        &.opening {
            .door {
                height: 8px;
            }
        }
        &.open {
            color: red;
            .door {
                height: 8px;
                background: red;
            }
        }

        &.closed {
            color: greenyellow;
            .door {
                box-shadow: inset 0 0 10px greenyellow;
            }
        }
    
    

    }
}


.image{
    img{
        width: 100%;
        height: auto;
    }
}
